<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Title -->
	{{$title := site.Title}}
	{{if not .IsHome}}
		{{$title = printf "%s | %s" site.Title .Title}}
	{{end}}
	<title>{{$title}}</title>

	<!-- Description -->
	{{$desc := ""}}
	{{if .IsHome}}
		{{$desc = site.Params.description}}
	{{else}}
		{{if .Description}}
			{{$desc = .Description}}
		{{else}}
			{{$desc = printf "%s - %s - %s" site.Title .Section .Title}}
		{{end}}
	{{end}}
	<meta name="description" content="{{$desc}}"/>

	<!-- Author -->
	{{with .Params.author}}
		<meta name="author" content="{{.}}">
	{{end}}

	<!-- Canonical URL -->
	{{if site.Params.enableUserCanonical}}
		<link rel="canonical" href="{{ .Permalink }}"/>
	{{end}}

	<!-- RSS / Alternative outputs -->
	{{range .AlternativeOutputFormats}}
		{{printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML}}
	{{end}}

	<!-- Favicon -->
	{{with site.Params.favicon}}
		<link rel="icon" href="{{.}}">
	{{end}}

	<!-- CSS - SK3 -->
	<link rel="stylesheet" href="{{ "css/sk3.css" | relLangURL }}">

	<!-- CSS - Site Params -->
	<style>
		{{with site.Params.card.width}}
		@media only screen and (min-width: 993px) {
			:root { --width-card: {{.}}; }
		}
		{{end}}

		{{with site.Params.pagewidth}}
		@media only screen and (min-width: 993px) {
			:root { --width-html: {{.}}; }
		}
		{{end}}

		{{with site.Params.color.bg}}
		:root { --color-bg: {{.}}; }
		{{end}}

		{{with site.Params.color.border}}
		:root { --color-border: {{.}}; }
		{{end}}

		{{with site.Params.color.link}}
		:root { --color-link: {{.}}; }
		{{end}}

		{{with site.Params.color.text}}
		:root { --color-txt: {{.}}; }
		{{end}}

		{{if .IsHome}}
		:root{
			--h1-ln-h-using: var(--h2-ln-h);
			--h1-size-using: var(--h2-size);
		}
		{{end}}
	</style>

	<!-- Custom CSS -->
	{{range site.Params.customCss}}
		<link rel="stylesheet" href="{{ . | relURL }}">
	{{end}}

	<!-- Scripts -->
	{{if or site.Menus.main site.Params.socialshare (default true .Params.toc)}}
	<script>
		let enableOpenToc = false;
		{{with site.Params.enableOpenToc}}enableOpenToc = {{.}};{{end}}
	</script>
	{{end}}

	<!-- Debug (optional) -->
	<script>
		/*
		console.log("Kind:{{.Kind}}")
		console.log("Type:{{.Type}}")
		console.log("Section:{{.Section}}")
		console.log("desc:{{$desc}}")
		console.log("title:{{$title}}")
		*/
	</script>

	<!-- Icons -->
	{{if site.Params.enableExternalSvg}}
		<link href="//use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
	{{else}}
		{{partial "sk3-fa.svg" .}}
	{{end}}
</head>
