{{- $page := .page -}}
{{- $date := .date -}}
{{- $lang := site.Language.Lang -}}
{{- with $page -}}
  {{- $lang = .Site.Language.Lang -}}
{{- end -}}

{{- if $date -}}
  {{- if hasPrefix $lang "zh" -}}
    {{- $date | time.Format "2006年01月02日" -}}
  {{- else if hasPrefix $lang "ja" -}}
    {{- $date | time.Format "2006年01月02日" -}}
  {{- else if hasPrefix $lang "en" -}}
    {{- $date | time.Format "January 2, 2006" -}}
  {{- else -}}
    {{- $date | time.Format "January 2, 2006" -}}
  {{- end -}}
{{- end -}}
